<app-period-selector (onPeriodSelected)="changePeriod($event)"></app-period-selector>

<app-chart-type-select (onChartTypeChanged)="changeChartType($event)"></app-chart-type-select>

<app-summary-chart [summaries]="summaries"></app-summary-chart>

<div *ngIf="newRecordType == undefined">
  <app-financial-record-type-select (onTypeSelect)="openRecordAddForm($event)"></app-financial-record-type-select>
</div>

<div *ngIf="newRecordType != undefined">
  <app-financial-record-add-form [type]="newRecordType" (onSubmit)="closeRecordAddForm()"></app-financial-record-add-form>
</div>