<div class="navbar">
  <mat-toolbar color="primary">
    <div class="menu">
      <a [routerLink]="'/home/summary'" mat-button>Summary</a>
      <a [routerLink]="'/home/categories'" mat-button>Categories</a>
      <a [routerLink]="'/home/history'" mat-button>History</a>
      <a (click)="logout()" mat-button>Log out</a>
    </div>
    <div class="menu-toggle">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div *ngIf="showMenu" class="menu-dropdown">
    <a [routerLink]="'/home/summary'" mat-button (click)="toggleMenu()">Summary</a>
    <a [routerLink]="'/home/categories'" mat-button (click)="toggleMenu()">Categories</a>
    <a [routerLink]="'/home/history'" mat-button (click)="toggleMenu()">History</a>
    <a (click)="logout()" mat-button>Log out</a>
  </div>
</div>