form {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;

    button {
        padding: 20px 30px;
        color: white;
    }
}

@media screen and (max-width: 800px) {
    form {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        
        button {
            margin-left: 0px;
            margin-right: 0px;
            color: white;
        }
    }

}