#chart-container {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 800px) {
    #chart-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.no-data {
    text-align: center;
}