.table-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.table {
    overflow-x: auto;
}

.paginator {
    margin-top: 20px;
}

.action-buttons {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .table-container {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}