<app-period-selector (onPeriodSelected)="changePeriod($event)"></app-period-selector>

<app-record-type-select (onTypeChanged)="changeRecordType($event)"></app-record-type-select>

<div class="table-container">
  <div class="table">
    <table mat-table [dataSource]="records" class="mat-elevation-z8" matSort (matSortChange)="changeSorting($event)">

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount.toNumber() | currency:'PLN'}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <ng-container matColumnDef="transactionDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction date </th>
        <td mat-cell *matCellDef="let element"> {{element.transactionDate}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
          <mat-menu #menu>
            <button mat-menu-item (click)="editRecord(element)">
              <mat-icon color="accent">edit</mat-icon><span>Edit</span>
            </button>
            <button mat-menu-item (click)="confirmDeleting(element)">
              <mat-icon color="accent">delete</mat-icon><span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator class="paginator"
                 (page)="handlePageEvent($event)"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 [pageSize]="pageSize"
                 [showFirstLastButtons]="true"
                 [pageIndex]="page"
                 [length]="availableRecords"
                 aria-label="Select page">
  </mat-paginator>
</div>