#chart-container {
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 800px) {
    #chart-container {
        max-width: 100vw;
    }
}

.no-data {
    text-align: center;
    position: absolute;
}